<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controllers.session.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>controllers.session.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllSubjets</servlet-name>
        <servlet-class>controllers.subject.getAllSubjets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllTopics</servlet-name>
        <servlet-class>controllers.subject.getAllTopics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllExcercices</servlet-name>
        <servlet-class>controllers.excercises.getAllExcercices</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/api/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/api/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllTopics</servlet-name>
        <url-pattern>/api/subjects/getTopics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllExcercices</servlet-name>
        <url-pattern>/api/excercises/getAllExcercices</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
