<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controllers.session.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>controllers.session.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllSubjets</servlet-name>
        <servlet-class>controllers.subject.getAllSubjets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllTopics</servlet-name>
        <servlet-class>controllers.topic.getAllTopics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllExcercices</servlet-name>
        <servlet-class>controllers.excercise.getAllExcercises</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadExcercise</servlet-name>
        <servlet-class>controllers.excercise.uploadExcercise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getExcerciseById</servlet-name>
        <servlet-class>controllers.excercise.getExcerciseById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTopics</servlet-name>
        <servlet-class>controllers.topic.getTopics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteExcerciseById</servlet-name>
        <servlet-class>controllers.excercise.deleteExcerciseById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getExcerciseByIdTopic</servlet-name>
        <servlet-class>controllers.excercise.getExcerciseByIdTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>score</servlet-name>
        <servlet-class>controllers.scoreboard.score</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getScoreByIdUser</servlet-name>
        <servlet-class>controllers.scoreboard.getScoreByIdUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/api/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/api/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllTopics</servlet-name>
        <url-pattern>/api/topics/getAllTopics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllExcercices</servlet-name>
        <url-pattern>/api/excercises/getAllExcercices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadExcercise</servlet-name>
        <url-pattern>/api/excercices/uploadExcercise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getExcerciseById</servlet-name>
        <url-pattern>/api/excercices/getExcerciseById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTopics</servlet-name>
        <url-pattern>/api/topics/getTopics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteExcerciseById</servlet-name>
        <url-pattern>/api/excercises/deleteExcerciseById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getExcerciseByIdTopic</servlet-name>
        <url-pattern>/api/excercises/getExcerciseByIdTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>score</servlet-name>
        <url-pattern>/api/scoreboard/score</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getScoreByIdUser</servlet-name>
        <url-pattern>/api/scoreboard/getScoreByIdUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
