@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Yusei+Magic&display=swap');

ul, ol{
	list-style: none;
}

a{
	list-style: none;
	text-decoration: none;
}

.linea{
    border-top: 1px solid #e8e5e5;
    width: 98%;
}

b{
    color:#ED2553;
    font-family: 'Roboto Slab', serif;
}

h4, h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

.opc_menu{
    font-family: 'Quicksand', sans-serif;
}

h2{
    font-family: 'Yusei Magic', sans-serif;
}

a:visited, a:link, a:focus, a:over, a:active, a:hover{
	list-style: none;
	text-decoration: none;
}

.cont-home{
    background-color: #e8e5e5;
    border: 3px solid #0000;
    height: 1000px;
}

.cont-user{
    background-color: white;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
}

.cont-ejer-res{
    background-color: white;
    margin-top: 15px;
    border-radius: 5px;
    height: 500px;
    box-shadow: 5px 10px 18px #888888;
}

.cont-ejer{
    background-color: white;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
}

.cont-ejer-indiv{
    border: 2px solid #e8e5e5;
    border-radius: 8px;
    margin-top: 25px;
}

.btn_menu:hover, .btn_logout:hover{
    cursor: pointer;
    color:#ED2553;
}

.lista_op ul li{
    margin-top: 20px;
    margin-bottom: 20px;
}

.display_video{
    min-height: 400px;
}